
:root {
    --sqSize: 120px;
    @media only screen and (max-width: 768px) {
        /* --sqSize: 240px; */
        /* --sqSize: 60px; */
        /* width: 100% */
        /* width: 10px;
        margin: auto; */

        /* For mobile phones */
        [class*="sq"] {
            /* width: 100% */
            /* --sqSize: 60px; */
            /* --sqSize: 240px; */
        }       
    }
}

.board {
    display: grid;
    /* background: blue; */
    grid-gap: 5px;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(4, var(--sqSize));
    grid-template-rows: repeat(4, var(--sqSize)) ;
    justify-content: center;
    
    /* padding: 10px; */
    /* grid-template-rows: repeat(16, 120px); */
    grid-template-areas:
    /* "h1 h1" */
    "sq0 sq1"
    "sq2 sq3"
    "sq4 sq5"
    "sq6 sq7"
    "sq8 sq9"
    "sq10 sq11"
    "sq12 sq13"
    "sq14 sq15"
    /* "h2 h2" */
}

.sq {
   /* grid-area: sq0; */
   border: 1px black solid;
   text-align: center;

   /* padding: 20px; */

}

button{
    display: block;
    margin: auto
}

h1,h2{
    text-align: center;
}

/* button{
    display:flex;
    justify-content: center
} */



 /* #1 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #2 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #3 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #4 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #5 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #6 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #7 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #8 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #9 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #10 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #11 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #12 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #13 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #14 {
    grid-area: sq0;
    border: 1px black solid 
 }

 #15 {
    grid-area: sq0;
    border: 1px black solid 
 } */


 
 
 


